@font-face {
    font-family: "jsrfFont";
    src:url("../font/NiseJSRF.TTF");
}

body {
	font-family: jsrfFont;
}

h1 {
	font-size: 24px;
	margin: 10px;
}

div {
	margin: 10px;
}

.char-img {
	width: 175px;
}

.char-card {
	margin: 5px;
	border: 3px;
	border-style: solid;
	display: inline-block;
	position: relative;
	border-color: #c3ff25;
	color: #08fcfb;
	background-color: powderblue;
}


.enemy-card {
	color: darksalmon;
	border-color: #ad3018;
}

.char-label {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #44545d;
	opacity: .85;
	margin: 0;	
	font-size: 12px;
}

.char-label-name {
	float: left;
	padding: 5px;
	
}

.char-label-hp {
	float: right;
	padding: 5px;
	height: 100%;
}

#attack-button {
	background-color: darkred;
	border: 0;
	font-family: inherit;
	color: white;
	padding: 5px;
	width: 10%;
	margin: 0 auto;
}

#player-char-container {
	float: left;
}

#defender-char-container {
	float: right;
}
