@font-face {
    font-family: "jsrfFont";
    src:url("../font/NiseJSRF.TTF");
}

body {
	font-family: jsrfFont;
}

h1 {
	font-size: 24px;
	margin: 10px;
}

div {
	margin: 10px;
}

#game-container {
	background-image: url("../images/soul.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 1024px;
	margin: 0 auto;
}

#char-select {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.char-img {
	width: 175px;
}

.char-card {
	margin: 5px;
	border: 3px;
	border-style: solid;
	display: inline-block;
	position: relative;
	border-color: #c3ff25;
	color: #08fcfb;
	background-color: powderblue;
}


.enemy-card {
	color: darksalmon;
	border-color: #ad3018;
}

.char-label {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #44545d;
	opacity: .85;
	margin: 0;	
	font-size: 12px;
}

.char-label-name {
	float: left;
	padding: 5px;
	
}

.char-label-hp {
	float: right;
	padding: 5px;
	height: 100%;
}

#current-char-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: auto;
	text-align: center
}

#attack-button {
	background-color: darkred;
	border: 0;
	font-family: inherit;
	color: white;
	padding: 20px;
}

#img-spray-can {
	width: 50px;
}

@media screen and (max-width: 1024px) {
	#game-container {
		width: unset;
	}
}


@media screen and (max-width: 640px) {

    #current-char-container {
		flex-direction: column;
	}
}


